* {
	margin: 0;
	padding: 0;
}

body {
	font-family: sans-serif;
}

.container {
	width: 620px;
	margin: 0 auto;
}
.contain {
	width: 100%;
}
.flex {
	display: flex;
	justify-content: space-between;
}
.menu {
	color: red;
	font-size: 20px;
}
.menu li {
	padding: 20px;
	font-size: 20px;
	list-style-type: none;
}
.menu li a {
	font-weight: bolder;
	color: red;
	text-decoration: none;
}

section,
footer {
	width: 1145px;
	margin: 0 auto;
}
.title {
	font-size: 29px;
	margin: 48px;
	text-align: center;
}
.text {
	font-size: 16px;
	text-align: center;
	margin-top: 30px;
}

.god {
	position: relative;
	left: 37%;
	border-radius: 4px;
	height: 51px;
	width: 191px;
	font-size: 16px;
	background-color: red;
	color: white;
	margin: 66px;
}
.eee {
	text-align: right;
	font-weight: bold;
	margin-bottom: 30px;
}
